.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(/assets/img1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card-img-top {
    width: 310px;
    height: 200px;
    margin-left: 3px;
    margin-top: 3px;
    border-radius: 3px;
}